<h3>Goto</h3>
<%= link_to 'Black Friday Data', black_fridays_path, :class=>"waves-effect waves-light btn-small" %>
<%= link_to 'People Information', pples_path, class: "waves-effect waves-light btn" %>
