<h1>Editing Black Friday</h1>

<%= render 'form', black_friday: @black_friday %>
</br>
<div class="container">
  <%= link_to 'Show', @black_friday, class: "waves-effect waves-light btn" %> |
  <%= link_to 'Back', black_fridays_path, class: "waves-effect waves-light btn" %>
</div>